<%- include('./partials/header') %>

  <h1>Welcome to Fotorol!</h1>
  <p>Here's a platypus.</p>
  <!-- <img src='https://i.imgur.com/T5xVo.jpg'/> -->
  <!-- <img src='http://localhost:3002/images/doge_and_cat.jpg'/> -->
  <!-- If the image is served from our server, we do not need
       to specify the domain at the beginning of the url. -->
  <img src='/images/doge_and_cat.jpg'/>

<%- include('./partials/footer') %>
